<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>


    <% if(data) { %>
        <h1> hello <%= data%></h1>

        <form action="" , method="post">
    
            <button id="submit"  type="submit"> đăng xuất </button>
    
        </form>
    <% } else { %>
    <h1> home world </h1>
    <% } %>



</body>
<script>

</script>

</html>